!!! 5
html(xmlns:ng='http://angularjs.org', ng-app='tumblrBrowsr')
  head
    title= browsr 
    link(rel='stylesheet', type='text/css', href='css/style.css')
    base(href='{{root}}')
    meta(charset="utf-8")
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    script.
      var dbName = window.dbName = '#{dbName}';

  body(ng-controller='ctrlMain', ng-init="dbName='#{dbName}'",
    ng-keydown='keyDown($event)', ng-mousedown='mouseDown($event)')
    span(ng-include, src="'views/navbar.html'")

    .row(infinite-scroll='loadInfinite()', infinite-scroll-distance='2', hm-tap='tap($event)')
      .col-lg-12
        span(ng-include, src="'views/masonry.html'")
        
    div(ng-view)

    script(type='text/javascript', src='js/vendor.js')
    script(type='text/javascript', src='js/app.js')
